create Image.json
{
  "name": "Task 3. Create Image",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0697701d-e979-44d2-9ce2-8fbec0717577",
              "name": "prompt",
              "value": "Игра городская мафия, в антураже мафии, вид от первого лица. обстановка как за покерным столом",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        416
      ],
      "id": "1bf67368-d730-49f3-9885-3c2b1c9fa46d",
      "name": "Set Prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d14a9732-e11e-4f1e-a4d9-0587d1a4a2dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "07961715-2e68-44bc-83cc-c36396959107",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "waiting | queuing | generating"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        400
      ],
      "id": "62aa0a6d-68d0-4029-94a5-ea56067d3f1e",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "Ошибка при создании задачи"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -912,
        608
      ],
      "id": "036e1af4-ef18-4933-8171-7502ca93541f",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "# Генерация изображения с Nano Banana\n\nПроцесс генерации:\n- Установка промтпа\n- Создание задачи на генерацию\n- Получение taskId (идентификатор задачи)\n- Проверка статуса генерации. С использованием taskId, делаем проверку, готово ли изображение.\n- Если изображение готово - идем в узел **Download Image**, если нет - ожидаем 5 секунд и вновь проверяем статус.\n- Загружаем изображение по ссылке, которая возвращается в ответе от сервиса.",
        "height": 608,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2720,
        144
      ],
      "id": "ed9cbd3e-7203-4ae3-a586-f09d252167ba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Установка промпта\n",
        "height": 304,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1872,
        288
      ],
      "id": "c797da8e-d0a5-48e5-956b-4de442927e67",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Создание задачи для генерации изображения\n",
        "height": 304,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        288
      ],
      "id": "b70d4f95-73e9-4120-9570-3e10b46c8e31",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Проверка статуса\nВ этом узле проверяется статус генерации.\n",
        "height": 320,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        272
      ],
      "id": "6dfad881-f86d-45ce-9c5b-f26249991668",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Генерация завершена\n",
        "height": 272,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c3099980-5e8f-4dac-9b42-6cb8d3a54c98",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0c29fc5-b637-474f-8079-f8e35b537251",
              "leftValue": "={{ $json.msg }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        416
      ],
      "id": "e719fa50-13b4-4f1e-9c98-b4eb376c2d05",
      "name": "Is Success?"
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        112
      ],
      "id": "862b2a11-9e24-4cc1-8ccf-3632947a79a5",
      "name": "Download Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2da4d5b156da573cce94d535a86974ba"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/nano-banana"
            },
            {
              "name": "callBackUrl",
              "value": "https://your-domain.com/api/callback"
            },
            {
              "name": "input",
              "value": "={   \"prompt\": \"{{ $json.prompt }}\",   \"output_format\": \"jpeg\",   \"image_size\": \"3:4\" } "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        416
      ],
      "id": "ba11aff3-5cbf-4072-b833-99badc56d0c7",
      "name": "Create Task"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2da4d5b156da573cce94d535a86974ba"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        416
      ],
      "id": "3e5f18d7-b7a1-4609-bba2-92a3af45cc93",
      "name": "Check Status"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        592
      ],
      "id": "88badaa6-c094-4d62-9af7-22ef92aaa9d5",
      "name": "Wait generation",
      "webhookId": "5ac75ebf-7a14-4e2c-b0c5-da8f5b1d41cc"
    },
    {
      "parameters": {
        "errorMessage": "Ошибка генерации"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        80,
        416
      ],
      "id": "379efce9-cc4c-46f4-8288-2412566bc876",
      "name": "Fail generation"
    }
  ],
  "pinData": {
    "Check Status": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "9024e454db354c714ce8753fcf5a72fd",
            "model": "google/nano-banana",
            "state": "success",
            "param": "{\"input\":\"{\\\"output_format\\\":\\\"jpeg\\\",\\\"image_size\\\":\\\"3:4\\\",\\\"prompt\\\":\\\"Игра городская мафия, в антураже мафии, вид от первого лица. обстановка как за покерным столом\\\"}\",\"callBackUrl\":\"https://your-domain.com/api/callback\",\"model\":\"google/nano-banana\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1770664723413-hxgjq5429bd.jpeg\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 10,
            "completeTime": 1770664724631,
            "createTime": 1770664714242
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait generation": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c40c0938-2034-4be5-9c76-701e59014130",
  "meta": {
    "instanceId": "d3dcfbdbba500686daf81241f820a8867cf92f296d836e87047b54c1f1e0d98e"
  },
  "id": "qXsoZINK3DFYC6il",
  "tags": []
}